<!-- 
* File: app.component.html
* Author: Maximilian Barabas
* Copyright: M B 
* Group: Szoft_II_N
* Date: 2023-04-23
* Github: https://github.com/maximilianbarabas
* Licenc: GNU GPL 
-->

<div class="container">
  <h1>Ship Sale</h1>

  <nav class="nav bg-dark rounded-pill px-5">
    <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
    <a class="nav-link text-light" href="/new">New ship</a>
    <a class="nav-link text-light" href="/table">Ships</a>

  </nav>

  <router-outlet></router-outlet>

</div>

