<!-- 
* File: home.component.html
* Author: Maximilian Barabas
* Copyright: M B 
* Group: Szoft_II_N
* Date: 2023-04-23
* Github: https://github.com/maximilianbarabas
* Licenc: GNU GPL 
-->

<div class="container bg-dark my-3 p-4 rounded-1 w-50">
    <ul class="list-group">
        <li class="list-group-item">Creator: Maximilian Barabas</li>
        <li class="list-group-item">Date: 2023.04.23.</li>
        <li class="list-group-item"><a target="_blank" href="https://github.com/maximilianbarabas/ships" class="text-reset">code</a></li>


    </ul>
</div>